* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: lightgray;
    color: black;
    padding: 20px;
    line-height: 1.6;
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightslategray;
    padding: 15px 20px;
    border-radius: 10px;
}

.nav-left {
    font-size: 1.4rem;
    font-weight: bold;  
}

.nav-right {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-right a {
    text-decoration: none;
    font-weight: bold;
}

.nav-right a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* HEADER */
header {
    background: lightslategray;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    height: 180px;
    border-radius: 50%;
}

.profile-img:hover {
    transform: rotate(5deg) scale(1.05);
}

/* SECTION */
section {
    background: lightslategray;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

/* PROJECTS */
.project img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    margin-top: 10px;

}

.project img:hover {
    transform: scale(1.05);
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

button {
    background: darkgray;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: green;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}

/* MOBILE FRIENDLY FIX */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .nav-right {
        flex-direction: column;
        gap: 5px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }
}
